@model IEnumerable<Event>

<div class="accordion m-4" id="accordionExample">
    @{
        bool first = true; 
    }
    @foreach (var item in Model)
    {
        var collapseId = "collapse" + item.Id;
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button @(first ? "" : "collapsed")"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#@collapseId"
                        aria-expanded="@(first ? "true" : "false")"
                        aria-controls="@collapseId">
                    <b>Event:</b> @item.Name &nbsp;&nbsp;&nbsp;
                    <b>Temple:</b> @(item.Temple?.Name ?? "NA") &nbsp;&nbsp;&nbsp;
                    <b>Event Date:</b> @item.EventDate.ToString("yyyy-MM-dd")
                </button>
            </h2>
            <div id="@collapseId" class="accordion-collapse collapse @(first ? "show" : "")" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>@item.Details</p>
                </div>
            </div>
        </div>
        first = false; 
    }
</div>
